<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YOU LOVE ME ?</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <div class="main-container">
      <h1 class="question">YOU LOVE ME ????</h1>
      <div class="button-container">
        <button
          id="yes-button"
          hx-trigger="click"
          hx-post="/handle_yes_button"
          hx-swap="outerHTML"
          hx-target="#message-container"
        >
          YES
        </button>
        <button
          id="no-btn"
          hx-trigger="click"
          hx-post="/handle-no-button"
          hx-swap="outerHTML"
          hx-target="#no-btn"
          style="
            position: relative;
            left: 0px;
            top: 0px;
            transition: all 0.3s ease;
          "
        >
          NO
        </button>
      </div>
    </div>
    <div id="message-container" class="x-btn-message"></div>

    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  </body>
</html>
